@page
@model CIT_195_Lesson_11_Guitar_Collection.Pages.Guitars.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Guitar[0].Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Guitar[0].Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Guitar[0].NumStrings)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Guitar[0].BodyStyle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Guitar[0].BodyColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Guitar[0].Neck)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Guitar[0].NumFrets)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Guitar[0].Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Guitar) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumStrings)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BodyStyle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BodyColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Neck)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumFrets)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
